.login-container {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  width: 50%;
  align-items: center;
}

.form-container {
  /* width: 50%; */

  /* padding: 20px; */
  display: flex;
  flex-direction: column;

}

.login-heading {
  text-align: center;
  margin-bottom: 1.5rem;
  text-align: left;
  font-weight: 650;
}

form {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
}

.TextField {
  margin-bottom: 1rem;
}

.password-text-field {
  margin-bottom: 4rem;
}
.forgot-password{
  display: flex;
  justify-content: end;
}

h4:hover{
  color: lightcoral;
  cursor: pointer;
}
/* .login-button {
  
  } */

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.login-button {
  width: 30%;
  background-color: #449ba2 !important;
}

h4 {
  text-align: right;
}

@media (max-width: 600px) {
  .login-container {
    flex-direction: column;
  }

  .image-container,
  .form-container {
    width: 100%;
  }

  .login-button {
    width: 100%;
  }
}



/* Login Page 
  .form-container {
      flex: 1;
      padding: 20px;
    }
    
    .login-container {
      display: flex;
      justify-content: center; 
      align-items: center; 
      height: 100vh; 
    }
    
    .form-container {
      width: 50%; 
      padding: 20px;
    }
    
    .image-container {
      width: 50%;
    }
    
    .image-container img {
      max-width: 100%;
      max-height: 100%;
    }
    
    .options {
      display: flex;
      justify-content: center; 
      margin-top: 20px;
    }
    
    .option-box {
      border: 1px solid #ccc; 
      padding: 10px 20px; 
      margin-right: 10px; 
    }
  
     */