.form-wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0 !important;
    color: #49bb8e;
  }

  .paragraph {
    top: -10px;
    text-align: center;
  }
  
  .form-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-input {
    width: 100%;
  }
  
  .form-switch-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  }
  
  .form-switch {
    margin: 0.5rem 0;
  }
  
  .form-submit-button {
    height: 2.5rem;
    width: 100%;
    margin-top: 20px;
    background-color: #449ba2 !important;
    color: #ffffff !important;
    font-size: 1em;
    padding: 10px 20px;
    text-transform: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    border-radius: 0.5rem;
  }
  
  .form-submit-button:hover {
    background-color: #367f85 !important;
    transform: translateY(-2px);
  }
  