.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f0f2f5;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .form-content {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .form-input {
    width: 100%;
  }
  
  .form-submit-button {
    width: 100%;
    margin-top: 20px;
    background-color: #449ba2 !important;
    color: #ffffff !important;
    font-size: 1em;
    padding: 10px 20px;
    text-transform: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    border-radius: 0.5rem;
  }
  .form-submit-button:hover {
    background-color: #367f85 !important;
    transform: translateY(-2px);
  }
  