.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  background-color: #f5f5f5;
}

.form-container {
  flex: 1;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.register-heading {
  text-align: center;
  margin-bottom: 20px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.preferences-container {
  margin-top: 20px;
}

.register-button {
  margin-top: 20px;
  width: 100%;
}
