/*Room */
.room-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .room-card h1 {
    margin: 5px 0;
  }
  .results{
    display: flex;
    flex-wrap: wrap;
  }

  /* RoomCard.css */

.room-card {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .room-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .room-card h1 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .room-card h1:first-child {
    margin-top: 0;
  }
  
  .room-card h1:last-child {
    margin-bottom: 0;
  }
  
