/* search.css */

.search-bar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.search {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 7px;
  margin-right: 10px;
  width: 200px;
}

.select-wrapper {
  margin-right: 10px;
}

.gender-select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 7px;
}

.search-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #72B2B7 ;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-btn:hover {
  background-color: #41878c;
}
