/* RoomCard.css */

.room-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
  margin: 0.5rem;
  width: 100%;
  width: 250px;
  transition: transform 0.3s ease;
}

.room-card:hover {
  transform: translateY(-10px);
}

.room-card-detail {
  font-size: 16px;
  color: black;
  margin: 5px 0;
  text-decoration: none;
}


